*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gilroy';
}
html,body{
    height: 100%;
    width: 100%;
}
#main{
    height: 100%;
    width: 100%;
    background-color: black;
}
#nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    padding: 0 30px;
}
#nav h3{
    margin-top: 44px;
    font-family: PP woodland;
    font-size: 28px;
    color:white;
    text-transform: uppercase;
    font-weight: 900;
}
#nav-part2{
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 30px;
    padding: 0px 60px;
}
#nav-part2 h4{
    font-family: PP woodland;
    margin-top: -40px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 38px;
    gap: 50px;
}

#animation{
    margin-top: 120px;
    height: 80vh;
    width: 100%;
    /* background-color: rgb(44,4,444); */
}
#animation h1{
    font-family:PP woodland;
    color: white;
    font-size: 160px;
    text-transform: uppercase;
    font-weight: 100;
    line-height: 130px;
    width: 80%;
    position: relative;
    z-index: 9;
    margin-left: 10%;
}

#animation h1:nth-child(2){
        /* margin-top: 180px; */
        margin-left: 21%;
}
#animation h1:nth-child(3){
    text-align: center;
}
#animation h1:nth-child(4){
    text-align: center;
}

img{
    height: 400px;
    position: absolute;
    top: 12%;
    left: 40%;
}

#img1{
    rotate: 20deg;
}
#img2{
    rotate: 10deg;
}
